/* General Styles */

:root {
  --primary-color: #fff;
  --text-color-dark: #69306d;
  --text-color-light: #564592;
  --card--bg-color: #f6efee;
  --accent-color: #9640e5;
}

*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Newsreader", serif;
  font-size: 1.6rem;
  box-sizing: border-box;
  color: var(--primary-color);
  background: url(./images/endless-constellation.svg);
}

/* Utilities */

.container {
  width: 90%;
  max-width: 130rem;
  margin: 0 auto;
}

/* Header  */

.main-title {
  color: var(--primary-color);
  font-weight: bold;
  font-size: 4.5rem;
  margin: 4rem auto;
  text-align: center;
}

/* Form Filter Fields  */

.form-filters {
  display: flex;
  justify-content: space-between;
  margin-bottom: 4rem;
}

.form-filters__search-btn {
  flex: 10;
  cursor: pointer;
  display: block;
  height: 100%;
  border: none;
  outline: none;
  background-color: var(--card--bg-color);
}

.form-filters__search-icon {
  width: 1.4rem;
}

.form-control {
  display: flex;
  flex-direction: column;
  flex: 1;
  align-items: center;
}

.form-filters__label {
  margin-bottom: 1rem;
  font-size: 1.8rem;
}

.form-filters__input-container {
  background-color: var(--primary-color);
  border-radius: 5px;
  display: flex;
  align-items: center;
  overflow: hidden;
}

.form-filters__input-container:focus-within {
  box-shadow: var(--accent-color) 0px 0px 0px 2px;
}

.form-filters__input {
  border: none;
  outline: none;
  flex: 90;
}

.form-filters__select,
.form-filters__input-container {
  width: 80%;
}

.form-filters__input,
.form-filters__select {
  padding: 1rem;
  border-radius: 5px;
  font-size: 1.6rem;
  color: var(--text-color-dark);
  outline: none;
  border: none;
}

.form-filters__select:focus {
  box-shadow: var(--accent-color) 0px 0px 0px 2px;
}

/* News Cards */

.news-cards {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
  gap: 2rem;
}

.news-card {
  min-width: 15rem;
  overflow: hidden;
  border-radius: 4px;
  background-color: var(--card--bg-color);
  color: var(--text-color-dark);
  gap: 1rem;
  cursor: pointer;
}

.news-card:hover,
.news-card:focus-within {
  box-shadow: var(--accent-color) 0px 0px 0px 3px;
  color: var(--accent-color);
}

.news-card__link-wrapper {
  text-decoration: none;
  color: var(--text-color-dark);
}

.news-card__link-wrapper:hover,
.news-card__link-wrapper:active {
  color: var(--accent-color);
}

.news-card__img-container {
  position: relative;
  overflow: hidden;
  height: 50%;
}

.news-card__text-container {
  padding: 2rem;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.news-card__img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: all 0.3s;
}

.news-card__img:hover {
  transform: scale(1.1);
}

.news-card__tag {
  position: absolute;
  background-color: var(--accent-color);
  color: var(--primary-color);
  font-weight: bold;
  padding: 0.5rem;
  font-size: 1.5rem;
  border-radius: 5px;
  letter-spacing: 1px;
  bottom: 2rem;
  left: 2rem;
}

/* Footer  */

.footer {
  text-align: center;
  margin: 3rem auto;
}

.footer__copyright-author {
  font-weight: bold;
  color: var(--card--bg-color);
}

/* Media Queries - Mobile Devices */

@media screen and (max-width: 550px) {
  .form-filters {
    flex-direction: column;
    gap: 2rem;
  }

  .form-filters__search-icon {
    flex: 5;
  }
}
